  head{
  background-color: blue;

}
  header{
    display: grid;
    grid-template-columns: 200px 200px 200px
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    background-color: lightblue;

  }
 main{
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr

  }

  nav{
    text-align: left;
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;


  }
  aside{
    background-color: orange;
    display: grid;

  }
  footer{
    background-color: pink;
    display: grid;

}
